In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/accepted_2007_to_2018.csv", nrows=500000)
df.head()

C:\Users\Anmol Srivastava\AppData\Local\Temp\ipykernel_18580\1379726596.py:4: DtypeWarning: Columns (0,19,59,118) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/accepted_2007_to_2018.csv", nrows=500000)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cols = [
    'loan_amnt','int_rate','term','emp_length','home_ownership','annual_inc',
    'purpose','dti','delinq_2yrs','inq_last_6mths','open_acc','pub_rec',
    'revol_bal','revol_util','total_acc','fico_range_low','fico_range_high',
    'loan_status'
]

df = df[cols]
df.head()

,loan_amnt,int_rate,term,emp_length,home_ownership,annual_inc,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,fico_range_low,fico_range_high,loan_status
0,3600.0,13.99,36 months,10+ years,MORTGAGE,55000.0,debt_consolidation,5.91,0.0,1.0,7.0,0.0,2765.0,29.7,13.0,675.0,679.0,Fully Paid
1,24700.0,11.99,36 months,10+ years,MORTGAGE,65000.0,small_business,16.06,1.0,4.0,22.0,0.0,21470.0,19.2,38.0,715.0,719.0,Fully Paid
2,20000.0,10.78,60 months,10+ years,MORTGAGE,63000.0,home_improvement,10.78,0.0,0.0,6.0,0.0,7869.0,56.2,18.0,695.0,699.0,Fully Paid
3,35000.0,14.85,60 months,10+ years,MORTGAGE,110000.0,debt_consolidation,17.06,0.0,0.0,13.0,0.0,7802.0,11.6,17.0,785.0,789.0,Current
4,10400.0,22.45,60 months,3 years,MORTGAGE,104433.0,major_purchase,25.37,1.0,3.0,12.0,0.0,21929.0,64.5,35.0,695.0,699.0,Fully Paid

In [12]:
df['int_rate'] = df['int_rate'].astype(str).str.rstrip('%').astype(float)
df['term'] = df['term'].astype(str).str.extract('(\d+)').astype(float)

def parse_emp(x):
    if pd.isna(x): 
        return np.nan
    x = str(x)
    if x == '10+ years': return 10
    if x == '< 1 year': return 0.5
    try:
        return float(x.split()[0])
    except:
        return np.nan

df['emp_length'] = df['emp_length'].apply(parse_emp)
df.head()

,loan_amnt,int_rate,term,emp_length,home_ownership,annual_inc,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,fico_range_low,fico_range_high,loan_status
0,3600.0,13.99,36.0,10.0,MORTGAGE,55000.0,debt_consolidation,5.91,0.0,1.0,7.0,0.0,2765.0,29.7,13.0,675.0,679.0,Fully Paid
1,24700.0,11.99,36.0,10.0,MORTGAGE,65000.0,small_business,16.06,1.0,4.0,22.0,0.0,21470.0,19.2,38.0,715.0,719.0,Fully Paid
2,20000.0,10.78,60.0,10.0,MORTGAGE,63000.0,home_improvement,10.78,0.0,0.0,6.0,0.0,7869.0,56.2,18.0,695.0,699.0,Fully Paid
3,35000.0,14.85,60.0,10.0,MORTGAGE,110000.0,debt_consolidation,17.06,0.0,0.0,13.0,0.0,7802.0,11.6,17.0,785.0,789.0,Current
4,10400.0,22.45,60.0,3.0,MORTGAGE,104433.0,major_purchase,25.37,1.0,3.0,12.0,0.0,21929.0,64.5,35.0,695.0,699.0,Fully Paid

In [13]:
df = df[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]
df['target'] = df['loan_status'].apply(lambda x: 0 if x == 'Fully Paid' else 1)
df['target'].value_counts()

target
0    312340
1     78824
Name: count, dtype: int64

In [14]:
num_cols = df.select_dtypes(include=['float','int']).columns.tolist()
num_cols.remove('target')

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

cat_cols = ['purpose','home_ownership']

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [15]:
df = pd.get_dummies(df, columns=['purpose','home_ownership'], drop_first=True)
df.head()

,loan_amnt,int_rate,term,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT
0,3600.0,13.99,36.0,10.0,55000.0,5.91,0.0,1.0,7.0,0.0,...,False,False,False,False,False,False,False,True,False,False
1,24700.0,11.99,36.0,10.0,65000.0,16.06,1.0,4.0,22.0,0.0,...,False,False,False,False,True,False,False,True,False,False
2,20000.0,10.78,60.0,10.0,63000.0,10.78,0.0,0.0,6.0,0.0,...,False,False,False,False,False,False,False,True,False,False
4,10400.0,22.45,60.0,3.0,104433.0,25.37,1.0,3.0,12.0,0.0,...,False,False,False,False,False,False,False,True,False,False
5,11950.0,13.44,36.0,4.0,34000.0,10.20,0.0,0.0,5.0,0.0,...,False,False,False,False,False,False,False,False,False,True

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=['loan_status', 'target'])
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train)
X_test_s = scaler.transform(X_test)

In [17]:
import joblib
joblib.dump((X_train_s, X_test_s, y_train, y_test, scaler), "preprocessed.joblib")

['preprocessed.joblib']

In [ ]:
loan_info = df.loc[y_test.index, ['loan_amnt','int_rate','loan_status']]
loan_info.to_csv("loan_info_test.csv", index=False)